body {
  background-color: aliceblue;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
}

.title {
  font-size: 42px;
  color: dodgerblue;
  text-align: center;
}

.main {
  background-color: #c3d9ff;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;
  border-radius: 15px;
}

.tasks {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.put {
  margin-bottom: 20px;
}

.add {
  box-sizing: border-box;
  width: 300px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
}

.active {
  width: 300px;
  margin: 0 auto;
}

.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #000000;
  text-align: left;
}

.task__btn {
  position: relative;
  background: none;
  border: none;
  width: 18px;
  height: 18px;
  padding: 0;
}

.task__btn::before,
.task__btn::after {
  position: absolute;
  display: block;
  content: '';
  width: 2px;
  height: 18px;
  background-color: #000000;
  top: 50%;
  right: 50%;
}

.task__btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.task__btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.footer {
  text-align: center;
}

.complete {
  background-color: greenyellow;
  text-decoration: line-through;
}
